.aboutBox {
  background: #fff;
  border-radius: 15px;
  clear: both;
  padding: 32px;
  margin-bottom: 32px;
  *zoom: 1;
}
.aboutBox:before,
.aboutBox:after {
  display: table;
  content: "";
}
.aboutBox:after {
  clear: both;
}
.aboutBox p {
  font-size: 16px;
  line-height: 28px;
  padding: 16px 0;
}
.aboutBox li {
  *zoom: 1;
  padding: 24px;
}
.aboutBox li:before,
.aboutBox li:after {
  display: table;
  content: "";
}
.aboutBox li:after {
  clear: both;
}
.aboutBox li .aboutContent {
  padding: 0 20px;
  float: left;
  width: 60%;
}
.aboutBox li .aboutPic {
  float: left;
  width: 40%;
  padding: 0 50px 0 20px;
}
.aboutBox li .aboutPic img {
  width: 100%;
}
.aboutBox li:nth-child(2) .aboutPic {
  float: right;
  padding: 0 20px 0 50px;
}
.aboutTitle {
  font-weight: bold;
  font-size: 28px;
  padding-top: 24px;
  margin-bottom: 12px;
}
.rulesBox {
  background: #fff;
  border-radius: 15px;
  clear: both;
  padding: 32px;
  margin-bottom: 32px;
  *zoom: 1;
}
.rulesBox:before,
.rulesBox:after {
  display: table;
  content: "";
}
.rulesBox:after {
  clear: both;
}
.rulesBox p {
  font-size: 16px;
  line-height: 20px;
  padding: 16px 0;
}
.rulesBox .aboutTitle {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
.confirmBox {
  background: #fff;
  border-radius: 15px;
  clear: both;
  padding: 32px;
  margin-bottom: 32px;
  *zoom: 1;
}
.confirmBox:before,
.confirmBox:after {
  display: table;
  content: "";
}
.confirmBox:after {
  clear: both;
}
.confirmBox .confirmTitle {
  padding: 140px 0 0;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  background: url(../images/common/sucess.png) center 50px no-repeat;
  background-size: 60px;
  margin-bottom: 40px;
}
.confirmBox .confirmTitle.fail {
  background: url(../images/common/fail.png) center 50px no-repeat;
  background-size: 60px;
}
.confirmBox .confirmInfo {
  background: #FAF8F7;
  border-radius: 5px;
  border: 1px solid #F3EFEE;
  font-size: 14px;
  line-height: 20px;
  padding: 12px;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}
.confirmBox .confirmInfo p {
  clear: both;
  padding: 12px 0;
}
.confirmBox .confirmInfo p strong {
  display: block;
  padding: 12px 0 0;
  font-size: 18px;
}
.confirmBox .confirmInfo p.warning strong {
  color: #e33;
}
.confirmBox .confirmBtn {
  clear: both;
  padding: 40px 0 20px;
  text-align: center;
}
.confirmBox .confirmBtn a {
  display: inline-block;
  text-align: center;
  padding: 0 24px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  background: #FFC94D;
  font-weight: bold;
  border-radius: 5px;
}
.confirmBox .confirmBtn a:hover {
  color: #262E46;
  background: #FFBD25;
}
.itineraryTitle {
  margin: 0 auto;
  max-width: 600px;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 0 10px;
}
.bookingBox {
  background: #fff;
  border-radius: 15px;
  clear: both;
  padding: 32px;
  margin-bottom: 32px;
  max-width: 600px;
  border: 1px solid #eee;
  margin: 0 auto 24px;
}
.bookingBox .bookTitle {
  font-size: 24px;
  font-weight: bold;
  padding: 5px 0 12px 5px;
}
.bookingBox .bookTitle span {
  display: block;
  font-size: 12px;
  font-weight: normal;
  padding: 4px 0;
}
.bookingBox .bookTitle strong {
  float: right;
  font-weight: normal;
  font-size: 12px;
  top: 8px;
  right: 8px;
  color: #fff;
  background: #2E7B50;
  padding: 0 8px;
  border-radius: 100px;
}
.bookingBox .bookTitle strong.cencel {
  background: #e33;
}
.bookingBox .bookPic {
  max-width: 600px;
  height: 250px;
  position: relative;
}
.bookingBox .bookPic img {
  width: 100%;
  position: absolute;
  block-size: 100%;
  inline-size: 100%;
  inset-block-end: 0;
  inset-block-start: 0;
  inset-inline-end: 0;
  inset-inline-start: 0;
  object-fit: cover;
  border-radius: 5px;
}
.bookingBox .bookName {
  font-size: 18px;
  padding: 20px 0;
  margin-bottom: 12px;
}
.bookingBox .bookName strong {
  display: block;
  margin-bottom: 8px;
}
.bookingBox .bookName span {
  font-size: 12px;
  display: block;
  padding: 8px 0 0;
}
.bookingBox .booBtn {
  clear: both;
  padding: 8px 0;
  text-align: center;
}
.bookingBox .booBtn a {
  display: block;
  border: 1px solid #E0D7D2;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  background: #fff;
}
.bookingBox .booBtn a:hover {
  background: #FAF8F7;
  color: #262E46;
}
.bookingBox .bookSubTitle {
  clear: both;
  font-size: 16px;
  font-weight: bold;
  padding: 24px 0 12px;
}
.bookingBox .detailBox {
  clear: both;
  margin-bottom: 12px;
}
.bookingBox .detailBox .detailTitle {
  font-weight: bold;
  font-size: 14px;
  padding: 12px 0;
}
.bookingBox .detailBox ul li {
  clear: both;
  height: 32px;
  line-height: 32px;
}
.bookingBox .detailBox ul li span {
  float: right;
  font-size: 14px;
}
.bookingBox .detailBox .totalBox {
  clear: both;
  border-top: 1px solid #eee;
  padding: 24px 0;
}
.bookingBox .detailBox .totalBox .total {
  clear: both;
  font-weight: bold;
  font-size: 16px;
}
.bookingBox .detailBox .totalBox .total span {
  float: right;
  text-align: right;
  font-size: 18px;
}
.bookingBox .detailBox .totalBox .total span p {
  font-size: 12px;
  font-weight: normal;
  padding: 4px 0;
}
.bookingBox .detailBox .detailText {
  clear: both;
  padding: 12px 0 0;
}
@media screen and (max-width: 767px) {
  .aboutBox,
  .confirmBox,
  .bookingBox {
    padding: 12px;
  }
  .bookingBox .bookPic {
    height: 190px;
  }
  .aboutBox li {
    padding: 0;
  }
  .aboutBox li .aboutPic {
    width: 110px;
    padding: 24px 12px 12px;
    height: 100px;
    float: right;
    margin-bottom: 24px;
  }
  .aboutBox li .aboutContent {
    float: none;
    display: inline;
  }
  .aboutBox li:nth-child(2) .aboutPic {
    float: right;
    padding: 24px 12px 12px;
  }
}
